{{keyboard-press key="Escape" onDown=(toggle-action 'editing' this)}}

{{#with (component 'p-calendar' isEditing=editing showingsData=showingsData) as |theCalendar|}}

  {{#if editing}}
    <div class="containers-wrapper is-editing">
      <div class="cal-component-wrapper">
        {{#maybe-squish squish=true}}
          {{theCalendar}}
        {{/maybe-squish}}
      </div>

      <div class="form-component-wrapper">
        <div>Url to share:</div>
        <textarea disabled rows="8"
          style="width: calc(100% - 20px); margin: auto; display: block; font-size: .85rem">{{url}}</textarea>

        {{show-counts showingsData=this.showingsData}}

        {{edit-form showingsData=this.showingsData actns=(hash
          changeLongTitle=(action 'changeLongTitle')
          changeShortTitle=(action 'changeShortTitle')
          changeReadableDates=(action 'changeReadableDates')
          shiftDays=(action 'shiftDays')
          addShow=(action 'addShow')
          removeShow=(action 'removeShow')
        )}}

        {{showing-list titles=titles.long datesCode=dates}}
      </div>
    </div>

  {{else}}

    {{theCalendar}}
  {{/if}}
{{/with}}