{{keyboard-press key="Escape" onDown=(toggle-action 'editing' this)}}

<div class="containers-wrapper {{if editing 'is-editing'}}">
  <div class="cal-component-wrapper">
    {{#maybe-squish squish=editing}}
      {{p-calendar weeksData=weeksData longTitles=titles.long isEditing=editing}}
    {{/maybe-squish}}
  </div>

  {{#if editing}}
    <div class="form-component-wrapper">
      <div>Url to share:</div>
      <textarea disabled rows="8" style="width: calc(100% - 20px); margin: auto; display: block; font-size: .85rem">{{url}}</textarea>
      
      {{edit-form titles=titles readableDates=readableDates actns=(hash
        changeLongTitle=(action 'changeLongTitle')
        changeShortTitle=(action 'changeShortTitle')
        changeReadableDates=(action 'changeReadableDates')
        shiftDays=(action 'shiftDays')
        addShow=(action 'addShow')
      )}}
    </div>
  {{/if}}
</div>
