{{keyboard-press key="Escape" onDown=(toggle-action 'editing' this)}}

{{#if editing}}
  <form onsubmit="">
    {{#each titles.long as |title index|}}
      <div>
        Show {{add index 1}}
        Full: {{input value=title change=(action 'changeLongTitle' title)}}
        {{#with (object-at index titles.short) as |shortTitle|}}
          Short: {{input value=shortTitle change=(action 'changeShortTitle' shortTitle)}}
        {{/with}}
      </div>
      <div>
        {{#with (object-at index readableDates) as |showDates|}}
          Dates: {{showDates}}
        {{/with}}
      </div>
    {{/each}}
  </form>
{{/if}}

{{p-calendar weeksData=weeksData longTitles=titles.long}}
